.input-wrapper {
  $comp: &;
  position: relative;
  z-index: 1;
  width: 100%;

  &.textarea-wrapper {
    .input-wrapper-svg {
      top: rem(4px);
      transform: unset;
      right: rem(10px);
    }
  }

  &-svg {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: rem(10px);
    cursor: pointer;
    width: rem(48px);
    height: rem(48px);
    svg {
      width: rem(18px);
      height: rem(18px);
    }

    path {
      transition: $transition;
      stroke: $cold-green;
      opacity: 0.6;
    }

    &:hover {
      path {
        opacity: 1;
      }
    }
  }

  &__placeholder {
    position: absolute;
    left: rem(24px);
    top: rem(28px);
    transform-origin: left top;
    transition: $transition;
    pointer-events: none;
    color: $black-green;
    font-size: rem(20px);
    line-height: 120%;
    opacity: 0.5;

    @media #{media('<',t)} {
      left: rem(16px);
      top: rem(16px);
      font-size: rem(14px);
    }

    &.custom-map {
      top: rem(20px);
      left: rem(68px);

      white-space: nowrap;

      @media #{media('<', m)} {
        display: none;
        left: rem(44px);
        top: rem(17px);
        line-height: 130%;
      }
    }
  }

  &:focus-within,
  &.filled {
    #{$comp}__placeholder {
      top: rem(12px);
      transform: scale(0.6);
    }

    .input-wrapper-svg {
      display: block;
    }
  }

  &.custom-map {
    &:focus-within,
    &.filled {
      #{$comp}__placeholder {
        top: rem(6px);
        transform: scale(0.6);
      }
    }
  }
}

.input {
  width: 100%;
  height: rem(80px);
  padding: rem(28px) rem(24px) rem(28px);
  caret-color: $black-green;
  border-radius: rem(16px);
  border: 1px solid transparent;
  background: $grey2;
  transition: $transition;
  color: $black-green;
  font-size: rem(20px);
  line-height: 120%;
  caret-width: 1px;

  @media #{media('<',t)} {
    height: rem(50px);
    padding: rem(16px);
  }

  &::placeholder {
    opacity: 0;
  }

  @media (hover: hover) {
    &:hover {
      background: $grey5;
    }
  }

  &:focus {
    border: 1px solid $cold-green;
    box-shadow: 0px rem(10px) rem(16px) rgba(0, 0, 0, 0.05);
  }

  &_placeholder {
    &::placeholder {
      opacity: 1;
    }
  }
}

.parsley-errors-list {
  margin-top: rem(6px);
  color: #e62929;
  font-size: rem(10px);
  font-weight: 420;
  line-height: 110%;
  text-transform: uppercase;
  @media #{media('<',d)} {
    font-size: rem(8px);
  }
}
