extends ../../layout/layout

block variables
  -
    const pageName = 'main'
    const pageTitle = 'Main'

  -
    const breadCrumbsData = [
      { text: 'Главная', link: '/' },
      { text: 'Контакты' },
    ]

block content
  main.main
    .inner.inner_no-max-w
      +breadcrumbs(breadCrumbsData)
