extends ../../layout/layout

block variables
  -
    const pageName = 'main'
    const pageTitle = 'Main'

block content
  main
    .inner.inner--no-max-w
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
      .title-36 text text text text text text text text  text text text text text text text text text text text text text text text text text text text text v
