extends ../../layout/layout

block variables
  -
    const pageName = 'main'
    const pageTitle = 'Main'

  -
    const breadCrumbsData = [
      { text: 'Главная', link: '/' },
      { text: 'Контакты' },
    ]

  -
    const contactCardSecretaryData = {
      title: 'Секретарь', descr: 'Как стать умнее или избавиться от&nbsp;йододефицита', tel: '8 812 448-54-65', mail: 'help_gendir@lekker.ru', link: '#'
    }

  -
    const contactCardSaleData = {
      title: 'Отдел продаж', tel: '8 812 702-72-62', mail: 'prodazha@lekker.ru', link: '#'
    }

  -
    const contactCardAdvertisingData = {
      title: 'Отдел рекламы', mail: 'reklama@lekker.ru', link: '#'
    }

block content
  main.main
    .inner.inner_no-max-w
      +breadcrumbs(breadCrumbsData)
      +section('_mt0')
        +section-head
          +ui-h1('Контакты')
        +contact-cards
          +contact-card(contactCardSecretaryData, '_secretary')
            +contact-card-secretary
          +contact-card(contactCardSaleData, '_sale')
            +contact-card-sale
          +contact-card(contactCardAdvertisingData, '_advertising')
            +contact-card-advertising
      +section('_mt-xxxs')
        +section-head
          p socials-head
        p socials
      +section('_mt-xxxs, _mt-xxxs-desktop')
        +section-head
          p map-head
        p map
      +section
        +section-head
          p form-head
        p form
