extends ../../layout/layout

block variables
  -
    const pageName = 'main'
    const pageTitle = 'Main'

  -
    const breadCrumbsData = [
      { text: 'Главная', link: '/' },
      { text: 'Контакты' },
    ]

block content
  main.main
    .inner.inner_no-max-w
      +breadcrumbs(breadCrumbsData)
      +section('_mt0')
        +section-head
          p cards
        p cards
      +section('_mt-xxxs')
        +section-head
          p socials
        p socials
      +section('_mt-xxxs, _mt-xxxs-desktop')
        +section-head
          p map
        p map
      +section
        +section-head
          p form
        p form

