mixin contact-form(formData, mods)
  -
    const baseName = 'contact-form'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  form.contact-form(class=allMods action='' method='post' novalidate='')&attributes(attributes)
    .contact-form__inner
      +section-head
        +ui-h2('Связаться с нами')
      .contact-form__body
      .contact-form__foot
        +ui-p3('Нажимая на кнопку «Отправить» я даю согласие на условия <a href="#">политики в отношении обработки персональных данных</a>', 'contact-form, _desktop-xs')
        +button('Отправить', 'contact-form')
    .contact-form__decor_1
      +contact-form-decor-1
    .contact-form__decor_2
      +contact-form-decor-2
    block
