extends ../../layout/layout

block variables
  -
    const pageName = 'contacts'
    const pageTitle = 'Контакты'

  -
    const breadCrumbsData = [
      { text: 'Главная', link: '/' },
      { text: 'Контакты' },
    ]

  -
    const contactCardSecretaryData = {
      title: 'Секретарь', descr: 'Как стать умнее или избавиться от&nbsp;йододефицита', tel: '8 812 448-54-65', mail: 'help_gendir@lekker.ru', link: '#'
    }

  -
    const contactCardSaleData = {
      title: 'Отдел продаж', tel: '8 812 702-72-62', mail: 'prodazha@lekker.ru', link: '#'
    }

  -
    const contactCardAdvertisingData = {
      title: 'Отдел рекламы', mail: 'reklama@lekker.ru', link: '#'
    }

  -
    const locationData = {
      cards: [
        { title: 'Офис', adress: '194044,<br class="text_t-disp"> Санкт&#8209;петербург, Беловодский<br class="text_t-disp"> переулок, 6', workingHours: 'пн-пт: 9–17:30', mods: '_cold-green' },
        { title: 'Производство', adress: '194044,<br class="text_t-disp"> Санкт&#8209;Петербург, пер. Зеленков, 6, лит. А,<br class="text_t-disp"> корп. 1, пом. 11', workingHours: 'пн-пт: 9–17:30', mods: '_blue' }
      ]
    }

  -
    const formData = {
      title: 'Связаться с нами',
      inputs: [
        { name: 'name', placeholder: 'Ваше имя' },
        { name: 'E-mail', placeholder: 'E-mail' },
        { name: 'phone', placeholder: 'Телефон' },
        { textarea: true,  placeholder: 'Сообщение' }
      ],
      footnote: 'Нажимая на кнопку «Отправить» я даю согласие на условия <a href="#">политики в отношении обработки персональных данных</a>',
      btn: 'Отправить'
    }

block content
  main.main
    +section('_mt0')
      .inner.inner_no-max-w
        +breadcrumbs(breadCrumbsData)
    +section('_mt0')
      .inner.inner_no-max-w
        +section-head
          +ui-h1(pageTitle)
        +contact-cards
          +contact-card(contactCardSecretaryData, '_secretary')
            +contact-card-secretary
          +contact-card(contactCardSaleData, '_sale')
            +contact-card-sale
          +contact-card(contactCardAdvertisingData, '_advertising')
            +contact-card-advertising
    +section('_mt-xxxs')
      .inner.inner_no-max-w
        +socials('Мы в социальных сетях')
          +social-button('#', '_vk')
            +social-vk
          +social-button('#', '_youtube')
            +social-youtube
          +social-button('#', '_ok')
            +social-ok
    +section('_mt-xxxs, _mt-xxxs-desktop')
      .inner.inner_no-max-w
        +location(locationData)
    +section
      .inner.inner_xl
        +contact-form(formData)
