.ui-h1 {
  font: 600 rem(120px) $font;
  line-height: rem(108px);
  letter-spacing: -0.02em;

  @media #{media('<',t)} {
    font-size: rem(48px);
    line-height: rem(43.2px);
  }
}

.ui-h5 {
  font: 600 rem(32px) $font;
  line-height: rem(32px);
  letter-spacing: -0.02em;

  @media #{media('<',t)} {
    font-size: rem(20px);
    line-height: rem(20px);
  }
}
