.ui-p1 {
  font: 400 rem(24px) $font-rubik;
  line-height: rem(28.44px);

  @media #{media('<',t)} {
    font-size: rem(16px);
    line-height: rem(18.96px);
  }
}

.ui-p3 {
  font: 400 rem(18px) $font-rubik;
  line-height: rem(28.8px);

  @media #{media('<',t)} {
    font-size: rem(12px);
    line-height: rem(15.6px);
  }

  &_desktop-xs {
    font: 400 rem(14px) $font-rubik;
    line-height: rem(16.59px);

    @media #{media('<',t)} {
      font-size: rem(12px);
      line-height: rem(15.6px);
    }
  }
}
