extends ../../layout/layout

block variables
  -
    const pageTitle = 'Index'

block content
  main.main
    .inner
      a(href='pages/ui/index.html') Repository blocks
      br
      br
      a(href='pages/contacts/index.html') Contacts
      br
      br
