-
  const footerMenu = [
    { text: 'О компании', link: '#' },
    { text: 'Новости', link: '#' },
    { text: 'Контакты', link: '#' },
    { text: 'Где купить', link: '#' },
  ]

.footer
  .footer__content
    .inner.inner_xl
      .footer__top
        .footer__image
          .footer__logo.text_t-none
            +footer-logo
          .footer__picture-wrapper
            .footer__picture
              +footer-image
          .footer__image-button
            +button('Стать партнером', '#', false, '_pd-l')
        nav.footer__menu
          each menuItem in footerMenu
            .footer__menu-item
              a(href=menuItem.link) !{menuItem.text}
        .footer__info
          .footer__contacts
            .footer__contacts-item
              a(href="tel:88124485465") 8 812 448-54-65
            .footer__contacts-item
              a(href="mailto:info@lekker.ru ") info@lekker.ru
          .footer__social
            a(href="#").footer__social-button.footer__social-button_vk
              +vk
            a(href="#").footer__social-button.footer__social-button_ok
              +ok
            a(href="#").footer__social-button.footer__social-button_youtube
              +youtube
            a(href="#").footer__social-button.footer__social-button_rutube
              +rutube
        .footer__social.footer__social_tablet
          a(href="#").footer__social-button.footer__social-button_vk
            +vk
          a(href="#").footer__social-button.footer__social-button_ok
            +ok
          a(href="#").footer__social-button.footer__social-button_youtube
            +youtube
          a(href="#").footer__social-button.footer__social-button_rutube
            +rutube
        .footer__partner.text_t-none
          +button('Стать партнером', '#', false, '_pd-l')
      .footer__bottom
        .footer__company © 2002-2023 ООО «Леккер»
        .footer__personal
          a(href="#") Политика в отношении обработки персональных данных
        .footer__dev
          span Сделано в
            =" "
            a(href="#") CloudMill
      .footer__decor.footer__decor_desktop
        +footer-decor-desktop
      .footer__decor.footer__decor_tablet
        +footer-decor-tablet
      .footer__decor.footer__decor_mobile
        +footer-decor-mobile
  .footer__warning
    .inner.inner_xl
      .footer__warning-text ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ, НЕОБХОДИМО ПРОКОНСУЛЬТИРОВАТЬСЯ СО СПЕЦИАЛИСТОМ
