-
  const footerMenu = [
    { text: 'О компании', link: '#' },
    { text: 'Новости', link: '#' },
    { text: 'Контакты', link: '#' },
    { text: 'Где купить', link: '#' },
  ]

.footer
  .footer__content
    .inner.inner--xl
      .footer__top
        .footer__image
          .footer__logo.text-t-none
            +footer-logo
          .footer__picture-wrapper
            .footer__picture
              +footer-image
          .footer__picture-button
            +button('Стать партнером', '#', false, 'button--pd-l')
        nav.footer__menu
          each menuItem in footerMenu
            .footer__menu-item
              a(href=menuItem.link) !{menuItem.text}
        .footer__info
          .footer__contacts
            .footer__contacts-item
              a(href="tel:88124485465") 8 812 448-54-65
            .footer__contacts-item
              a(href="mailto:info@lekker.ru ") info@lekker.ru
          .footer__social.text-t-none
            .footer__social-button.footer__social-button--vk
              +button('', '#', false, 'button--icon button--white button--icon-pd0 button--icon-border')
                +vk
            .footer__social-button.footer__social-button--ok
              +button('', '#', false, 'button--icon button--white button--icon-pd0 button--icon-border')
                +ok
            .footer__social-button.footer__social-button--youtube
              +button('', '#', false, 'button--icon button--white button--icon-pd0 button--icon-border')
                +youtube
            .footer__social-button.footer__social-button--rutube
              +button('', '#', false, 'button--icon button--white button--icon-pd0 button--icon-border')
                +rutube
        .footer__social.footer__social--tablet
          .footer__social-button.footer__social-button--vk
            +button('', '#', false, 'button--icon button--white button--icon-pd0 button--icon-border')
              +vk
          .footer__social-button.footer__social-button--ok
            +button('', '#', false, 'button--icon button--white button--icon-pd0 button--icon-border')
              +ok
          .footer__social-button.footer__social-button--youtube
            +button('', '#', false, 'button--icon button--white button--icon-pd0 button--icon-border')
              +youtube
          .footer__social-button.footer__social-button--rutube
            +button('', '#', false, 'button--icon button--white button--icon-pd0 button--icon-border')
              +rutube
        .footer__partner.text-t-none
          +button('Стать партнером', '#', false, 'button--pd-l')
      .footer__bottom
        .footer__company © 2002-2023 ООО «Леккер»
        .footer__personal
          a(href="#") Политика в отношении обработки персональных данных
        .footer__dev
          span Сделано в
            =" "
            a.text-magenta(href="#") CloudMill
      .footer__decor.text-t-none
        +footer-decor-desktop
      .footer__decor.text-t-disp
        +footer-decor-tablet
      .footer__decor.text-mob-only
        +footer-decor-mobile
  .footer__warning
    .inner.inner--no-max-w ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ, НЕОБХОДИМО ПРОКОНСУЛЬТИРОВАТЬСЯ СО СПЕЦИАЛИСТОМ
