mixin location(data, mods)
  -
    const baseName = 'location'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .location(class=allMods)&attributes(attributes)
    .location__card
    .location__card
    block
