.contact-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(24px);

  @media #{media('<',t)} {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(12px);
  }

  @media #{media('<',m)} {
    grid-template-columns: 1fr;
  }
}

.contact-card {
  position: relative;
  display: grid;
  align-content: space-between;
  gap: rem(100px);
  padding: rem(32px);
  border-radius: rem(24px);

  @media #{media('<',t)} {
    gap: rem(24px);
    padding: rem(24px);
  }

  &__head {
    display: grid;
    gap: rem(12px);
    z-index: 1;

    @media #{media('<',t)} {
      gap: rem(8px);
    }
  }

  &__foot {
    display: grid;
    align-items: start;
    gap: rem(13px);
    z-index: 1;

    @media #{media('<',t)} {
      gap: rem(8px);
    }

    &-item {
      display: inline-flex;
      align-items: center;
      max-width: fit-content;
      gap: rem(16px);
    }

    &-svg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(32px);
      height: rem(32px);
      border-radius: rem(8px);
      background: #ffffff;

      svg {
        width: rem(20px);
        height: rem(20px);
      }
    }
  }

  &__ui-p1 {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -5%;
      left: 0;
      width: 0;
      height: rem(2px);
      transition: width $transition;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -5%;
      right: 0;
      width: 0;
      height: rem(2px);
      background: currentcolor;
      transition: width $transition;
    }

    @media (hover: hover) {
      &:hover {
        &::before {
          width: 100%;
          background: currentcolor;
        }

        &::after {
          width: 100%;
          background: unset;
        }
      }
    }
  }

  &__decor {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    right: 0;
    z-index: 0;
  }

  &_secretary {
    background: $light-green;

    .contact-card__foot svg {
      color: $cold-green;
    }

    .contact-card__decor {
      align-items: flex-end;
      svg {
        width: rem(347px);

        @media #{media('<',t)} {
          width: rem(195px);
          height: rem(179px);
        }
      }
    }
  }

  &_sale {
    background: $pink-light;

    .contact-card__foot svg {
      color: $magenta;
    }

    .contact-card__decor {
      svg {
        width: rem(200px);
        margin-bottom: rem(20px);

        @media #{media('<',t)} {
          width: rem(110px);
        }

        @media #{media('<',m)} {
          margin-bottom: 0;
        }
      }
    }
  }

  &_advertising {
    background: $yellow-light;

    .contact-card__foot svg {
      color: $canary;
    }

    .contact-card__decor {
      svg {
        width: rem(245px);
        margin-bottom: rem(20px);

        @media #{media('<',t)} {
          width: rem(125px);
          margin-bottom: rem(-10px);
        }
      }
    }
  }
}
