-
  const headerMenu = [
    { text: 'О компании', link: '#' },
    { text: 'Новости', link: '#' },
    { text: 'Где купить', link: '#' },
    { text: 'Контакты', link: '#' },
  ]

header.header
  .header__wrapper
    .inner.inner_no-max-w
      .header__content
        .header__burger
          span
          span
          span
        a(href="/").header__logo
          +header-logo
        .header__btns
          +button('Продукция', '#', false, '_icon, _icon-reverse').text_mob-none
            +more
          +button('', '#', false, '_icon, _grey, _icon-pd-l')
            +search
          +button('', 'tel:88124485465', false, '_icon, _grey, _icon-pd-l').text_t-disp.text_mob-none
            +tel
        nav.header__menu.text_t-none
          each menuItem in headerMenu
            a.header__menu-item(href=menuItem.link) !{menuItem.text}
        a.header__contact.text_t-none(href='tel:88124485465') 8 812 448-54-65
        +button('Стать партнером', '#', false, '_grey, _pd-l').text_t-none
